In [2]:
import pandas as pd
import numpy as np

In [3]:
eua = pd.read_csv ('eua_experiment.csv')

In [4]:
eua.drop(columns=['Unnamed: 0'] , inplace = True)

In [5]:
eua

        siteId  serverLat  serverLong    coverage   uId  userLat  userLong
0         1000 -12.471947  130.845073  142.112594   388 -12.5144  130.9688
1         1000 -12.471947  130.845073  142.112594   431 -12.3912  130.8905
2         1000 -12.471947  130.845073  142.112594   432 -12.4572  130.8366
3         1000 -12.471947  130.845073  142.112594   433 -12.3807  130.8854
4         1000 -12.471947  130.845073  142.112594   817 -12.4876  131.0117
...        ...        ...         ...         ...   ...      ...       ...
9150  10000055 -31.933208  115.866616  105.495571  1166 -32.0389  115.7667
9151  10000057 -19.262380  146.810800  147.591028    36 -19.3366  146.7836
9152  10000057 -19.262380  146.810800  147.591028   215 -18.7356  146.5779
9153  10000057 -19.262380  146.810800  147.591028   376 -19.2451  146.7945
9154  10000057 -19.262380  146.810800  147.591028  1131 -19.2757  146.7792

[9155 rows x 7 columns]

## GENERATING RANDOM RESOURCES FOR USERS

In [6]:
uf = eua.groupby(['userLat' , 'userLong']).count()[['coverage']].reset_index()
uf

     userLat  userLong  coverage
0   -38.3500  144.9000        10
1   -38.3000  145.1833        11
2   -38.2667  145.0167        11
3   -38.2000  144.3667        10
4   -38.1748  144.3428        10
..       ...       ...       ...
895 -12.4876  131.0117         2
896 -12.4803  130.9982         2
897 -12.4572  130.8366         2
898 -12.3912  130.8905         2
899 -12.3807  130.8854         2

[900 rows x 3 columns]

In [7]:
userResource = [[1,2,1,2],[2,3,3,4],[5,7,6,6]]

In [8]:
from random import choice
userResourcedict = {}
for index in range(uf.shape[0]):
    latitude = uf.iloc[index]['userLat']
    longitude = uf.iloc[index]['userLong']
    usr = (latitude,  longitude)
    if (usr not in userResourcedict):
        userResourcedict[usr] = choice(userResource)

## GENERATING CAPACITIES FOR SERVERS

In [9]:
sf = eua.groupby(['serverLat' , 'serverLong']).count().reset_index()
sf

    serverLat  serverLong  siteId  coverage  uId  userLat  userLong
0  -38.229606  146.414233      15        15   15       15        15
1  -38.195525  146.561853     105       105  105      105       105
2  -38.103396  147.054383       3         3    3        3         3
3  -37.919200  145.346300     165       165  165      165       165
4  -37.916514  145.038261     164       164  164      164       164
5  -37.857886  144.789906     166       166  166      166       166
6  -37.814712  144.974322     165       165  165      165       165
7  -37.810900  144.937100     165       165  165      165       165
8  -37.805036  144.932034     166       166  166      166       166
9  -37.690500  145.024800     166       166  166      166       166
10 -37.651230  144.959774     165       165  165      165       165
11 -37.574405  144.920440     164       164  164      164       164
12 -37.416821  145.005337     167       167  167      167       167
13 -36.416261  143.611158       3         3    3        3         3
14 -33.947875  150.899139     342       342  342      342       342
15 -33.925697  151.230031     355       355  355      355       355
16 -33.917272  151.241247     310       310  310      310       310
17 -33.915572  151.225783     355       355  355      355       355
18 -33.910111  151.234939     334       334  334      334       334
19 -33.907164  151.226875     356       356  356      356       356
20 -33.889967  151.217889     355       355  355      355       355
21 -33.889294  151.145194     332       332  332      332       332
22 -33.885622  151.206908     354       354  354      354       354
23 -33.879819  151.205344     342       342  342      342       342
24 -33.879589  151.147250     324       324  324      324       324
25 -33.874169  151.164822     344       344  344      344       344
26 -33.869040  151.206950     344       344  344      344       344
27 -33.861242  151.208261     354       354  354      354       354
28 -33.831142  115.106278       2         2    2        2         2
29 -33.787600  150.881500     338       338  338      338       338
30 -33.756158  150.698182     314       314  314      314       314
31 -33.718700  150.834100     316       316  316      316       316
32 -33.629218  115.091635      10        10   10       10        10
33 -33.554239  150.733037     348       348  348      348       348
34 -33.357333  115.624897      11        11   11       11        11
35 -33.315074  115.726263      47        47   47       47        47
36 -33.307414  115.734614      12        12   12       12        12
37 -32.673730  152.183366      84        84   84       84        84
38 -31.955191  115.876073     130       130  130      130       130
39 -31.933208  115.866616     130       130  130      130       130
40 -31.549951  116.453282     130       130  130      130       130
41 -31.540083  116.372957     126       126  126      126       126
42 -30.775337  121.441999       1         1    1        1         1
43 -28.913583  153.320278      25        25   25       25        25
44 -28.777660  114.634260       2         2    2        2         2
45 -28.687008  153.523194     117       117  117      117       117
46 -28.074596  152.856728     189       189  189      189       189
47 -27.806743  152.640874     219       219  219      219       219
48 -19.262380  146.810800       4         4    4        4         4
49 -12.471947  130.845073      10        10   10       10        10
50 -12.464597  130.840708      10        10   10       10        10

In [10]:
serverCPU = np.random.normal(loc=10,scale=10,size=sf.shape[0])
serverRAM = np.random.normal(loc=10,scale=10,size=sf.shape[0])
serverStorage = np.random.normal(loc=10,scale=10,size=sf.shape[0])
serverBandWidth = np.random.normal(loc=10,scale=10,size=sf.shape[0])

serverResourcedict = {}
for index in range(sf.shape[0]):
    latitude = sf.iloc[index]['serverLat']
    longitude = sf.iloc[index]['serverLong']
    server = (latitude,  longitude)
    CPU = round (max(1, serverCPU[index]))
    RAM = round (max(1, serverRAM[index]))
    STO = round (max(1 , serverStorage[index]))
    BAN = round (max (1, serverBandWidth[index]))
    serverResourcedict[server] = [CPU , RAM , STO, BAN]
serverResourcedict

{(-38.229606, 146.414233): [14, 9, 6, 8],
 (-38.195525, 146.561853): [9, 1, 15, 9],
 (-38.103396, 147.054383): [6, 1, 12, 14],
 (-37.9192, 145.3463): [10, 4, 26, 13],
 (-37.916514, 145.038261): [3, 16, 18, 1],
 (-37.857886, 144.789906): [1, 26, 18, 1],
 (-37.814712, 144.974322): [12, 9, 8, 14],
 (-37.8109, 144.9371): [22, 16, 1, 17],
 (-37.805036, 144.93203400000004): [13, 1, 19, 16],
 (-37.6905, 145.0248): [6, 1, 6, 19],
 (-37.65123, 144.959774): [18, 1, 15, 1],
 (-37.574405, 144.92044): [24, 13, 10, 15],
 (-37.416821, 145.005337): [9, 22, 4, 20],
 (-36.416261, 143.61115800000005): [5, 1, 20, 37],
 (-33.947875, 150.899139): [18, 31, 1, 16],
 (-33.925697, 151.230031): [3, 1, 11, 14],
 (-33.917272, 151.241247): [15, 15, 1, 1],
 (-33.915572, 151.225783): [13, 16, 4, 11],
 (-33.910111, 151.234939): [12, 17, 11, 2],
 (-33.907164, 151.226875): [1, 1, 27, 1],
 (-33.889967, 151.217889): [1, 12, 11, 8],
 (-33.889294, 151.145194): [11, 21, 3, 18],
 (-33.885622, 151.206908): [18, 1, 4, 1],
 (-33.879819, 151.205344): [6, 26, 17, 10],
 (-33.879589, 151.14725): [30, 6, 1, 7],
 (-33.874169, 151.164822): [1, 31, 23, 1],
 (-33.869040000000005, 151.20695): [7, 14, 1, 14],
 (-33.861242, 151.20826100000005): [1, 9, 19, 24],
 (-33.831142, 115.106278): [17, 12, 2, 9],
 (-33.7876, 150.8815): [43, 18, 16, 1],
 (-33.756158, 150.698182): [11, 4, 1, 9],
 (-33.7187, 150.8341): [19, 27, 20, 18],
 (-33.629218, 115.091635): [6, 14, 19, 4],
 (-33.554239, 150.73303700000002): [1, 19, 2, 12],
 (-33.357333000000004, 115.624897): [1, 7, 21, 11],
 (-33.315074, 115.726263): [1, 7, 4, 8],
 (-33.307414, 115.734614): [6, 10, 19, 18],
 (-32.67373, 152.18336599999995): [1, 23, 10, 8],
 (-31.955191, 115.876073): [1, 8, 3, 22],
 (-31.933208, 115.866616): [5, 15, 1, 10],
 (-31.549951, 116.453282): [31, 11, 13, 5],
 (-31.540083000000006, 116.372957): [6, 21, 13, 14],
 (-30.775337, 121.441999): [3, 19, 20, 5],
 (-28.913583000000006, 153.320278): [23, 1, 25, 36],
 (-28.77766, 114.63426): [19, 10, 23, 7],
 (-28.687008, 153.523194): [1, 10, 22, 7],
 (-28.074596000000003, 152.856728): [23, 4, 6, 7],
 (-27.806743, 152.640874): [14, 13, 12, 5],
 (-19.26238, 146.8108): [4, 13, 6, 22],
 (-12.471947, 130.845073): [13, 1, 24, 4],
 (-12.464597, 130.840708): [13, 14, 2, 10]}

### GENERATING THE FINAL DATASET

In [11]:
serverCPU=[]
serverRAM=[]
serverSTO=[]
serverBAN=[]
userCPU=[]
userRAM=[]
userSTO=[]
userBAN=[]
for index in range(eua.shape[0]):
    if (index % 1000 == 0):
        print (index )
    serverLat = eua.iloc[index]['serverLat']
    serverLong = eua.iloc[index]['serverLong']
    userLat = eua.iloc[index]['userLat']
    userLong = eua.iloc[index]['userLong']
    server = (serverLat , serverLong)
    user = (userLat, userLong)
    serverCPU.append (serverResourcedict[server][0])
    serverRAM.append (serverResourcedict[server][1])
    serverSTO.append (serverResourcedict[server][2])
    serverBAN.append (serverResourcedict[server][3])
    userCPU.append (userResourcedict[user][0])
    userRAM.append (userResourcedict[user][1])
    userSTO.append (userResourcedict[user][2])
    userBAN.append (userResourcedict[user][3])

0
1000
2000
3000
4000
5000
6000
7000
8000
9000

In [12]:
eua['SCPU'] = serverCPU
eua['SRAM'] = serverRAM
eua['SSTO'] = serverSTO
eua['SBAN'] = serverBAN
eua['UCPU'] = userCPU
eua['URAM'] = userRAM
eua['USTO'] = userSTO
eua['UBAN'] = userBAN

In [13]:
eua

,siteId,serverLat,serverLong,coverage,uId,userLat,userLong,SCPU,SRAM,SSTO,SBAN,UCPU,URAM,USTO,UBAN
0,1000,-12.471947,130.845073,142.112594,388,-12.5144,130.9688,13,1,24,4,2,3,3,4
1,1000,-12.471947,130.845073,142.112594,431,-12.3912,130.8905,13,1,24,4,5,7,6,6
2,1000,-12.471947,130.845073,142.112594,432,-12.4572,130.8366,13,1,24,4,2,3,3,4
3,1000,-12.471947,130.845073,142.112594,433,-12.3807,130.8854,13,1,24,4,5,7,6,6
4,1000,-12.471947,130.845073,142.112594,817,-12.4876,131.0117,13,1,24,4,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9150,10000055,-31.933208,115.866616,105.495571,1166,-32.0389,115.7667,5,15,1,10,5,7,6,6
9151,10000057,-19.262380,146.810800,147.591028,36,-19.3366,146.7836,4,13,6,22,1,2,1,2
9152,10000057,-19.262380,146.810800,147.591028,215,-18.7356,146.5779,4,13,6,22,1,2,1,2
9153,10000057,-19.262380,146.810800,147.591028,376,-19.2451,146.7945,4,13,6,22,2,3,3,4
9154,10000057,-19.262380,146.810800,147.591028,1131,-19.2757,146.7792,4,13,6,22,1,2,1,2

In [14]:
eua.to_csv ('generated_eua.csv')